 

<div id="contenedor">

  <div id="login">

    <div class="titulos">
      Bienvenido
    </div>

    <form id="loginform">
       
        <input name="email" placeholder="Correo" />
   
        <input type="password" name="password" placeholder="Contraseña" /><br>
 

        <input type="submit"  />

         <p id="texterror" style="color:orange;font: size 20px ;font-weight:bold"></p>

    </form>
   <a href="/register" style="color:white">Registrate</a></p>
  </div>

</div>

 
<script src="./js/login.js"></script>