 

<div id="contenedor">

  <div id="login">

    <div class="titulos">
      Registrate
    </div>

    <form id="registerform">
       
   
  <input name="first_name"  placeholder="Nombre"  />
    <input name="last_name"  placeholder="Apellido"  />
        <input name="age" type="number"  placeholder="Edad"  />
          <input name="email"  placeholder="Email"  />
             <input type="password"  name="password"  placeholder="password"  /> <br><br>

         <input type="submit" />

         <p id="texterror" style="color:orange;font: size 20px ;font-weight:bold"></p>

    </form>
     
  <a href="/login" style="color:white">Loguéate</a></p>
<br />
  </div>

</div>

 
<script src="./js/register.js"></script>




