<div>
    vista socket
    <input type="text" id="textbox"></input>
    <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<script>
  let sockets=io.connect("http://localhost:8080/",{forceNew:true})
  
</script>